html, body {
	height: 100%;
	overflow: auto;
}

.avgrund-popin {
	position: absolute;
	background: #fff;
	padding: 10px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 50%;
	left: 50%;
	z-index: 1000;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .5); 
	transform: scale(0.8);
}

.avgrund-overlay {
	background: #000;
	width: 100%;
	position: relative;
	top: -1500px;
	left: 0;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}

body.avgrund-ready,
.avgrund-ready .avgrund-popin,
.avgrund-ready .avgrund-overlay { 
	transform-origin: 50% 50%; 
	transition: 0.3s all ease-out;
}

body.avgrund-active { 
	transform: scale(0.9);
	overflow: hidden;
}

.avgrund-active .avgrund-popin {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100); 
	transform: scale(1.1);
}

.avgrund-active .avgrund-overlay {
	visibility: visible;
	opacity: .5;
	filter: alpha(opacity=50);
	height: 20000px;
}

.avgrund-popin.stack { 
	transform: scale(1.5);
}

.avgrund-active .avgrund-popin.stack { 
	transform: scale(1.1);
}

.avgrund-active .avgrund-blur { 
	filter: blur(1px);
}

/* 按钮 */
.avgrund-close {
	display: block;
	color: #555;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 6px;
	right: 10px;
}