html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Biaodian Pro Sans GB', 'Microsoft YaHei', "Noto Sans CJK TC", "Noto Sans CJK SC", 'Helvetica Neue', Helvetica, Arial, 'Han Heiti GB', sans-serif;
}
html {
  background-color: #aaa;
}
body {
  user-select:none;
  background-color: #ffffe9;
}

#box {
  /* 游戏核心区域 */
  position: relative;
  margin: 0 auto;
  width: 408px;
  height: 408px;
  overflow: hidden;
  background-color: #ddd;
  border: 4px solid #aaa;
}
#box .cell {
  transition: all .3s ease;
  /*position: absolute;*/
  display: inline-block;
  /*margin-bottom: -5px;*/
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  background-color: #FF9966;
  color: #FF9966;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}
#box .cell:hover {
  color: #fff;
  background-color: #FFCC99;
}

#box .cell.open {
  background-color: #ddd;
}
#box .cell.open:hover {
  color: #FF9966;
  background-color: #ddd;
}
#box .cell.boom, #box .cell.boom:hover {
  color: #999999;
  background-color: #CC0033;
}

#box.mibble {
  width: 408px;
  height: 408px;
}
#box.mibble .cell {
  width: 25px;
  height: 25px;
  font-size: 19px;
}

#time {
  transition: all .8s ease;
  display: inline-block;
  margin-left: 16px;
  height: 40px;
  width: 0;
  font-size: 26px;
  color: #888;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
}
#time.start {
  width: 150px;
}

.popup {
  display: none;
}
.custom .popup {
  display: block;
}

[class^="hvr-"] {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 30px; */
  width: 140px;
  text-align: center;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* -webkit-tap-highlight-color: transparent; */
}
[class^="hvr-"]:hover {
  text-decoration: none;
}
.short {
  width: 80px;
}

.hvr-bounce-to-right {
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF9966;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: grey;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
